<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        {{ 'Todo::TodoList' | abpLocalization }}:
      </div>
    </div>

    <div class="card-body">

      <!-- FORM FOR NEW TODO ITEMS -->
      <app-todo-form
        (onCreateItem)="addTodoItemToView($event)"
      ></app-todo-form>

      <!-- TODO ITEMS LIST -->
      <app-todo-list
        [items]="todoItems"
        (onDeleteItem)="deleteTodoItemFromView($event)"
      ></app-todo-list>
    </div>
  </div>
</div>
