<abp-modal [(visible)]="isOpen" (disappear)="closeModal()">
  <ng-template #abpHeader>
    <h3 class="mb-0">{{ userData.userName }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <ul class="details-list list-unstyled mb-0">
      <li class="details-list-item">
        <strong>{{ 'AbpIdentity::DisplayName:Name' | abpLocalization }}</strong>
        <span>{{ userData.name }}</span>
      </li>
      <li class="details-list-item">
        <strong>{{ 'AbpIdentity::DisplayName:Surname' | abpLocalization }}</strong>
        <span>{{ userData.surname }}</span>
      </li>
      <li class="details-list-item">
        <strong>{{ 'AbpIdentity::EmailAddress' | abpLocalization }}</strong>
        <span>{{ userData.email }}</span>
      </li>
      <li class="details-list-item">
        <strong>{{ 'AbpIdentity::PhoneNumber' | abpLocalization }}</strong>
        <span>{{ userData.phoneNumber }}</span>
      </li>
      <li class="details-list-item">
        <strong>{{ 'AbpIdentity::CreationTime' | abpLocalization }}</strong>
        <span>{{ userData.creationTime | date }}</span>
      </li>
    </ul>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>